/*Css
 Estilos globales para la página */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    padding: 20px;
    background-color: #333;
    color: white;
    text-align: center;
}

header input {
    margin-top: 10px;
    padding: 10px;
    width: 50%;
}

#product-catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    width: 70%; /* Ancho predeterminado del catálogo de productos */
}

#product-catalog .product {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: calc(33.333% - 40px);
    box-sizing: border-box;
}

#product-catalog .product img {
    width: 100%;
}

#shopping-cart {
    width: 25%; /* Ajusta el ancho predeterminado del carrito de compras aquí */
    padding: 20px;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Media Queries para hacer que el diseño sea responsivo */
@media (max-width: 768px) {
    #product-catalog {
        width: 100%; /* Catálogo de productos toma el 100% del ancho */
    }

    #product-catalog .product {
        width: calc(50% - 20px); /* Ajusta el ancho de los productos */
    }

    #shopping-cart {
        width: 100%; /* Carrito de compras toma el 100% del ancho */
    }
}

@media (max-width: 500px) {
    #product-catalog {
        width: 100%; /* Catálogo de productos sigue tomando el 100% del ancho */
    }

    #product-catalog .product {
        width: calc(50% - 20px); /* Ajusta el ancho de los productos */
    }

    #shopping-cart {
        width: 100%; /* Carrito de compras sigue tomando el 100% del ancho */
    }
}

@media (max-width: 300px) {
    #product-catalog .product {
        width: 100%; /* Cada producto toma el 100% del ancho */
    }

    #shopping-cart {
        width: 100%; /* Carrito de compras sigue tomando el 100% del ancho */
    }
}
